*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "arial";
    list-style: none;
}

.main-container{
    position: relative;
}

.toaster-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

